<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/CSS/NewProfilePage.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">


    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
        integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/5b2ed83021.js" crossorigin="anonymous"></script>


</head>

<body>
    <header id="header" class="fixed-top">
        <div class="navbar-container">

            <h1 class="logo me-auto"><a href="homepage.html">HomeoKart</a></h1>
            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto" href="/">Home</a></li>
                    <li><a class="nav-link scrollto" href="/categories">Medicines</a></li>
                    <li><a class="nav-link scrollto" href="/consultation">Doctors</a></li>
                    <li><a class="nav-link scrollto" href="/cart">Cart</a></li>
                    <!-- <li class="dropdown"><a href="#">Drop Down<i class="fa fa-solid fa-angle-down"></i></a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li><a href="#">Drop Down 2</a></li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                        </ul>
                    </li> -->
                    <li><a class="nav-link scrollto" href="/myProfile">My Profile</a></li>
                    <a href=<%= isAuthenticated ? "/logout" : "/login" %>
                        class="appointment-btn scrollto"><span><%= isAuthenticated ? "Logout" : "Login" %></span></a>
                </ul>

                <i class="bi bi-list mobile-nav-toggle"></i>

            </nav>
            <!-- .navbar -->

        </div>
    </header>
    <!-- End Header -->

    <div class="container portfolio">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <img src="https://image.ibb.co/cbCMvA/logo.png" />
                </div>
            </div>
        </div>
        <div class="bio-info">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 profile-imgDiv">
                            <div class="bio-image">
                                <!-- <img src="<%=prf.profImg%>" alt="Admin"
                                    class="rounded-circle"> -->
                                <img src="https://www.seekpng.com/png/small/966-9665493_my-profile-icon-blank-profile-image-circle.png"
                                    alt="Admin" loading="lazy" class="rounded-circle">

                            </div>
                        </div>
                        <!-- <div class="card mt-3 profile-div">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h6 class="mb-0"><a href="#" style="text-decoration:none;">Cart</a></h6>
                                </li>
                                <li class="list-group-item">
                                    <h6 class="mb-0"><a href="#" style="text-decoration:none;">My
                                            Wishlist</a>
                                    </h6>
                                </li>
                                <li class="list-group-item">
                                    <h6 class="mb-0"><a href="#" style="text-decoration:none;">My
                                            Orders</a>
                                    </h6>
                                </li>
                                <li class="list-group-item">
                                    <h6 class="mb-0"><a href="#" style="text-decoration:none;">Logout</a></h6>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-6 details">
                    <div class="row">
                        <div class="col-sm-4 details-label">
                            <h4 class="mb-0">
                                <i class="fa-solid fa-user"></i>
                                Full Name
                            </h4>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            <%=prf.username%>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4 details-label">
                            <h4 class="mb-0">
                                <i class="fa-solid fa-envelope"></i>
                                Email
                            </h4>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            <%=prf.usermail%>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4 details-label">
                            <h4 class="mb-0">
                                <i class="fa-solid fa-user-pen"></i>
                                Age
                            </h4>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            <%=prf.age%>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4 details-label">
                            <h4 class="mb-0">
                                <i class="fa-solid fa-phone"></i>
                                Phone
                            </h4>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            <%=prf.phone %>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4 details-label">
                            <h4 class="mb-0"><i class="fa-solid fa-mars-and-venus"></i>
                                Gender
                            </h4>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            Male
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4 details-label">
                            <h4 class="mb-0">
                                <i class="fa-solid fa-house-chimney-user"></i>
                                Address
                            </h4>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            <%=prf.address.street1%>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4 details-label">
                            <h4 class="mb-0">
                                <i class="fa-solid fa-location-dot"></i>
                                Pincode
                            </h4>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            <%=prf.address.zip%>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <a class="btn btn-info " href="/editProfile" style="width: inherit">
                                Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Homeokart</h3>
                        <p>
                            A108 Adam Street <br>
                            New York, NY 535022<br>
                            United States <br><br>
                            <strong>Email:</strong> Homeokart007@gmail.com<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="fa fa-solid fa-angle-right"></i> <a href="/">Home</a></li>
                            <li><i class="fa fa-solid fa-angle-right"></i> <a href="/categories">Medicines</a></li>
                            <li><i class="fa fa-solid fa-angle-right"></i> <a href="/consultation">Consultation</a></li>
                            <li><i class="fa fa-solid fa-angle-right"></i> <a href="/myProfile">My Profile</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Medicine Categories</h4>
                        <ul>
                            <% for(var i=0; i<category.length; i++) { %>
                            <li><i class="fa fa-solid fa-angle-right"></i> <a
                                    href="/products/<%=category[i].name%>"><%=category[i].name%></a></li>
                            <% } %>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Join Our Newsletter</h4>
                        <p>Get a free subscription to our health and fitness tip and stay tuned to our latest offers</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container footer-ending d-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>Homeokart</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    Designed by <a href="#">HomeoKart</a>
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="fa fa-brands fa-twitter-square"></i></i></a>
                <a href="#" class="facebook"><i class="fa fa-brands fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-brands fa-instagram"></i></a>
                <a href="#" class="google-plus"><i class="fa fa-brands fa-skype"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </footer><!-- End Footer -->

</body>

</html>